.heading {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    color: white;
    font-size: 4em;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu__btn {
    border: none;
    font-size: 1.5em;
    height: 40px;
    margin-right: 16px;
    width: 41%;
}

.menu__btn:hover {
    font-weight: 900;
    cursor: pointer;
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}