@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: $dark_background;
  padding: 7%;
  text-align: center;
}

main {
  background-color: $light_background;
  display: flex;
  flex-direction: column;
}


