* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background: grey;
  padding: 10%;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
}
