* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #0b1133;
  padding: 7%;
  text-align: center;
}

main {
  background-color: #3f51b5;
  display: flex;
  flex-direction: column;
}


