form {
  display: flex;
  justify-content: center
}

%formElementStyles {
  border: 2px solid black;
  font-size: 1.2em;
  height: 35px;
  margin: 5px;
  width: 21%;
}

input {
  @extend %formElementStyles;
}

button {
  @extend %formElementStyles;
  border-radius: 16px;
}
  