@import './variables.scss';

form {
  display: flex;
  justify-content: center;
  margin: 12px;
}

%formElementStyles {
  border: 2px solid black;
  box-shadow: 0.5px 0.5px, -0.5em 0.8em 1.3em black;
  font-size: 1.2em;
  height: 35px;
  margin: 5px;
  outline: none;
}

input {
  @extend %formElementStyles;
  text-align: center;
  width: 23%;
}

.search__btn {
  @extend %formElementStyles;
  background-color: $accent_color;
  border-radius: 16px;
  width: 16%;
    &:hover {
      background-color: $hover-color;
      cursor: pointer;
      font-weight: 900;
      transform: scale(1.1);
      transition: all .1s ease-in-out;
    }
}
  