@import './variables.scss';

article {
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0.5px 0.5px, -0.5em 0.8em 1.3em black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7px;
    width: 43%;
}

img {
    height: 306px;
    margin: 0;
    padding: 2%;
    width: 97%;
}

p {
    padding: 3%;
    width: 100%;
}

.article__footer {
    background-color: $accent_color;
    height: 35px;
    width: 100%;
      &:hover {
        background-color: $hover_color;
      }
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
      &:hover {
        font-weight: 900;
        cursor: pointer;
        transform: scale(1.1);
        transition: all .1s ease-in-out;
      }
}

